.fondo {
    flex-grow: 1;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/src/assets/banner-1.jpg);
    min-height: 90vh;
    overflow: hidden;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}