.list-songs {
    display: flex;
    background-color: var(--color-fondo);
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    padding: 10px 20px;
}
.bar-title { 
    display: grid;
    place-items: center;
    margin-top: 0%;
}

.bar-title h2 {
    color: var(--color-secundario);
    font-size:xx-large}
    

.my-5 {
    background-color: azure;
}