:root{
    --color-principal:#591414;
    --color-secundario:#8C1111;
    --color-terciario:#A6242F;
    --color-negro:#0D0908;
    --color-alternativo-I:#7D6841;
    --color-alternativo-II:#3045BF;
    --color-apuesto:#145959;
    --color-fondo:#E7E1E1;
    --color-letra-pricipal: #fff;
}


.crear-album {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: transparent;
}

.fondo .crear-album article {
    background: linear-gradient(to right, var(--color-apuesto), var(--color-principal));
    color: var(--color-letra-pricipal);
    padding: 20px 20px;
    border: 5px solid var(--color-apuesto);
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0.2, 0.2, 0.5, 1);
    max-width: 600px;
    width: 130%;
}

.titulo-agregar {
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}
.titulos{
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

.titulodespl{
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}

.titulodespl select {
    padding: 10px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
    width: 80%;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-negro);
}

.titulodespl label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color-letra-pricipal);
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
    font-size: 1.2rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.boton-agregar-albun{
    background-color: var(--color-principal);
    color: var(--color-letra-pricipal);
    padding: 10px;
    display: flex;
    border: 2px solid var(--color-apuesto);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0.2, 0.2, 0.5, 1);
}

.boton-agregar-albun:hover {
    background-color: var(--color-terciario);
}

.fondo {
    flex-grow: 1;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/src/assets/banner-1.jpg);
    min-height: 90vh;
    overflow: hidden;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}
